h1{
    text-align: center;
    margin-top: 15%;
    margin-bottom: 2.5%;
}
div{
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid #333;
    padding: 10px; 
    margin-bottom: 2%;
    
}
input{
    display: flex;
    width: 200px;
    height: 10px;
    margin: auto;
    border: 1px solid #333;
    padding: 10px; 
    
}
@media (max-width: 768px) {
    h1 {
      padding-top: 50%;
      margin-bottom: 10%;
      font-size: 1.5rem;
    }
    div{
        margin-bottom: 5%;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
        padding-top: 50%;
        margin-bottom: 10%;
        font-size: 1.5rem;
      }
      div{
          margin-bottom: 5%;
      }
    }
  